{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["airbnb-base", "prettier"],
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		// off
		// "semi": 0,
		// "quotes": 0,
		// "indent": 0,
		"no-console": 0,
		"no-useless-escape": 0,
		"func-names": 0,
		"no-underscore-dangle": 0,
		// "no-tabs": 0,
		// "no-mixed-spaces-and-tabs": 0,
		// "comma-dangle": 0,
		// "no-trailing-spaces": 0,
		// "max-len": 0,
		// "global-require": 0,
		// "nonblock-statement-body-position": 0,
		// // warn
		"no-unused-vars": 1
	}
}
